<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{layout :: html(title='Top Questions', content=~{::div}, styles=~{::head/link}, scripts=~{::head/script})}">
<head>
    <link rel="stylesheet" th:href="@{/css/questions.css}">
    <script>
        // Redirect to the questions page
        window.location.href = "/questions";
    </script>
</head>
<body>
    <div class="container">
        <p>Redirecting to questions page...</p>
    </div>
</body>
</html>
